.collapsible-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.4rem 1.5rem;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
  border-radius: calc(0.75rem + 8px);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  box-shadow: var(--shadow-soft);
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapsible-header h2 {
  font-family: "Google Sans Flex", sans-serif;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;
  border: none;
  padding: 0;
}

.collapse-icon {
  display: flex;
  color: var(--text-color);
}

/* Dark mode styles */
.dark-mode .collapsible-section {
  border-color: #444;
}

.dark-mode .collapsible-header {
  background-color: #333;
  border-bottom-color: #444;
}

.dark-mode .collapsible-header h2 {
  color: #eee;
}

.dark-mode .collapse-icon {
  color: #bbb;
}

.dark-mode .collapsible-content {
  background-color: #222;
  color: #ddd;
}