.tag-input-container {
  margin-bottom: 15px;
}

.tag-input-label {
  line-height: 1;
  font-weight: 500;
  font-size: .875rem;
  display: block;
  margin-bottom: 12px;
  color: var(--text-color-accent);
  text-align: left;
}

.tag-input-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--border-color);
  padding: 5px;
  border-radius: 12px;
  gap: 6px;
}

.tag {
  white-space: nowrap;
  background-color: var(--suggestion-button-bg);
  border: 1px solid var(--suggestion-button-border);
  color: var(--suggestion-button-text);
  padding: 0.165rem 0.165rem 0.165rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: "Google Sans Flex", sans-serif;
  font-size: 0.85rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

.tag-remove-button {
  font-size: 1.2rem;
  background: none;
  border: none;
  color: var(--suggestion-button-text);
  cursor: pointer;
}

.tag-input {
  font-family: "Google Sans Flex", sans-serif;
  color: var(--text-color);
  flex-grow: 1;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  margin: 2px;
}

.tag-add-button {
  font-family: "Google Sans Flex", sans-serif;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
}

.tag-add-button:hover {
  background-color: #6fc3b2;
}