.calculators-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.form-group input[type="number"],
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1em;
  box-sizing: border-box;
}

.calculator-inputs {
  padding: 10px;
}

.calculation-results-section {
  margin-top: 30px;
}

.calculation-results-section h2 {
  color: #16ac9f;
  margin-bottom: 20px;
  text-align: center;
}