.account-menu-overlay {
  position: fixed;
  bottom: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.account-menu-popup {
  background: var(--background-color);
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgb(0 0 0 / 7%);
  width: 210px;
  color: var(--text-color);
}

.account-info {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1rem;
}

.account-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 0.75rem;
}

.account-details {
  display: flex;
  flex-direction: column;
}

.account-name {
  font-weight: bold;
  font-size: 1rem;
}

.account-handle {
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.menu-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0.5rem;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  border-radius: 8px;
  gap: 0.5rem;
}

.menu-item:hover {
  background-color: var(--hover-color);
}

.menu-item i {
  margin-right: 0.75rem;
  font-size: 1.2rem;
}