.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: var(--header-background);
  border-bottom: 1px solid var(--header-border);
  z-index: 2;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header-left {
  display: flex;
  align-items: center;
}

.menu-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  width: 20px;
}

.header-logo {
  height: 40px;
  margin-right: 10px;
}



.auth-buttons button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: #fff;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.auth-buttons button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.auth-buttons .signup-btn {
  background-color: var(--primary-color);
  color: #fff;
}

.auth-buttons .signup-btn:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}