.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0; /* Removing padding to allow internal scroll */
  transition: margin-left 0.3s ease-in-out;
}

.main-content.sidebar-open {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.main-content.sidebar-closed {
  margin-left: 60px;
  width: calc(100% - 60px);
}

.main-content.patient-sidebar-open {
  margin-right: 300px; /* Same as patient sidebar width */
}