.question-input-container {
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 20px;
}

.question-input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: -webkit-fill-available;
  background: var(--background-color);
  border: 1px solid rgb(231 235 239 / 50%);
  border-radius: calc(0.75rem + 8px);
  box-shadow: var(--shadow-card);
  transition: box-shadow .3s ease, transform .2s ease;
  min-height: 100px;
  padding: 0.7rem 1rem 1rem 1rem;

}

.question-input-field {
  width: -webkit-fill-available;
  color: var(--text-color);
  flex-grow: 1;
  padding: 10px;
  background: none;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-family: "Google Sans Flex", sans-serif;
  font-size: 16px;
}

.question-input-field:focus {
  outline: none;
  border-color: var(--primary-color);
}

.question-input-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}



.question-input-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
}

.question-input-button:hover {
  background-color: #0c969e;
}

/* Fade-in letter effect */
.animated-placeholder::placeholder {
  color: #777;
  opacity: 1;
  transition: opacity 1s ease-in;
}

/* Blinking caret at the end */
.animated-placeholder::placeholder {
  animation: caretBlink 0.7s infinite;
  padding-right: 4px;
}

@keyframes caretBlink {
  0% { border-color: transparent; }
  50% { border-color: #999; }
  100% { border-color: transparent; }
}
