.theme-switcher {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #eee;
}

.theme-switcher:last-child {
  border-bottom: none;
}

.theme-switcher span {
  color: var(--text-color);
  font-weight: 500;
}

.theme-switcher button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.theme-switcher button:hover {
  background-color: #0c969e;
}